html {
  height: 100%;
  background: 
  linear-gradient(rgba(196, 102, 0, 0.6), rgba(155, 89, 182, 0.6));
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;   
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
:root {
  --blue-main: rgb(88, 33, 214);
  --blue-75: #7589A2;
  --blue-50: #e8e0e7;
  --blue-25: #F8F8F8;

  --orange-main: lightpink;
  --orange-75: #FF9C86;
  --orange-50: #FFBDAF;
  --orange-25: #FFDED7;

  --shadow-blue: 0px 2px 11px 0px rgba(25, 50, 81, 0.2);
  --shadow-orange: 0px 4px 10px #ff5a3666;

  --border-blue: 1px solid var(--blue-50);

}
